<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
      <!-- Addendum -->
        <div class="comment-content" id ="this_comment_<%= comment.id %>"></div>
      <!-- So far -->
        <p><%= comment.content %></p>
        <!-- Addendum -->
        <p><%= link_to "Edit comment", edit_blog_comment_path(blog, comment), remote: true %></p>
        <!-- So far -->
      </li>
    <% end %>
  <% end %>
</ul>